<div class="navbar-container">
  <nav>
    <ul class="nav-flex">
      <li>
        <a href="/home">
          <img src="assets/banner-imgs/cropped-ocoj.png" alt="" class="nav-logo-img">
        </a>
      </li>
      <li>

        <nav>
          <ul class="nav-flex-2">
            <li><a  href="/prayer"
           >Prayer</a></li>
           <li><a href="/about">About Us</a></li>
           <li><a href="">Ministries</a></li>
           <li><a href="/truth">Truth</a></li>


          </ul>
        </nav>
      </li>

      <li>
          <div class="nav-flex-3">
            <fa-icon [icon]="search"></fa-icon>
            <fa-icon [icon]="signIn"></fa-icon>
          </div>
      </li>
    </ul>
  </nav>
</div>
